@font-face {
  font-family: "Zombie";
  src: url(../font/ZOMBIE.TTF) format("truetype");
}
@font-face {
  font-family: "vicioushunger";
  src: url(../font/vicioushunger.ttf) format("truetype");
}


html, body, div, span, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, font, img, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;

}
ul {
	list-style-type:none;
}
body {
	background-image: url("../img/background.jpg");
	background-size: 100%;
}
#container {
	width:600px;
	margin:0 auto;
	padding-top:100px;
	padding-bottom:100px;

}
.paper {
	position:relative;
	width:600px;
	min-height:800px;
	background-color:#faf8e5;
	border:1px solid #e3e3e3;
}
.red-line {
	min-height:900px;
	width:1px;
	background-color:#ef8b8b;
	float:left;
	margin-left:4px;
}
.first {
	margin-left:40px;
}
ul#lines {
	
}
ul#lines li {
	height:28px;
	line-height:28px;
	color:#4d84c8;
	font-family:Georgia;
	font-style:italic;
	font-size:16px;
	width:515px;
	border-top:1px solid #f2f0df;
	padding-left:75px;
	padding-right: 10px;
}
.tape{
	position:absolute;
	top:-15px; right:220px;
	width: 130px;
	height: 35px;
	background-color:#fff;
	opacity:0.6;
	border-left: 1px dashed rgba(0, 0, 0, 0.1);
	border-right: 1px dashed rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 1px 0px #cccccc;
	-moz-box-shadow: 0px 0px 1px 0px #cccccc;
	box-shadow: 0px 0px 1px 0px #cccccc;
	-webkit-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
	-moz-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
	-o-transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
	transform: rotate(-2deg) skew(0,0) translate(0%,-5px);
}
.left-shadow{
	width: 140px;
	height: 140px;
	bottom:-5px; left:-12px;
	position:absolute;
	z-index:-6;
	display: inline-block;
	-webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
	box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
	-moz-transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
	-webkit-transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
	-o-transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
	-ms-transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
	transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
}
.right-shadow{
	width: 140px;
	height: 140px;
	bottom:-13px; right:-4px;
	position:absolute;
	z-index:-6;
	display: inline-block;
	-webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
	box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
	-moz-transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
	-webkit-transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
	-o-transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
	-ms-transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
	transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
}

.tromboneInt{
	position: absolute;
	right: 30px;
	top: -1px;
	width: 25px;
	height: 70px;
	border-bottom: 2px ridge #FFFFFF;
	border-right: 2px ridge #FFFFFF;
	border-left: 2px ridge #FFFFFF;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	z-index: 0;
	float:right;

}

img.imgPerso {
	float:right;
	margin:-1px 20px 5px 0;
	box-shadow: -3px 3px 5px #333;
	width:150px;
	height:195px;
}

.titre {
	font-weight:bold;
}

.form {
	background-color: #333;
	width:600px;
	min-height:660px;
	margin-left: auto;
	margin-right: auto;
	padding:20px;
	border-radius: 20px;
	margin-top: 100px;
	margin-bottom: 100px;
	box-shadow: 0px 2px 8px #333;
	border: 2px solid grey;
	color: white;
}

.titreForm {
	font-size:24px;
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
}

.boutonValid {
	height: 65px;
	margin-right: 50px;
	font-size: 25px;
	width: 185px;

}

.centerButton {
	width:280px;
	margin: 0 auto;
}

.formPage {
	background-image: url("../img/bgPaper.jpg");;
	width:700px;
	min-height:750px;
	margin-left: auto;
	margin-right: auto;
	padding:20px;
	margin-top: 50px;
	margin-bottom: 50px;
	box-shadow: 0px 2px 8px #333;
	
	color: white;
}

.titre {
	font-size:48px;
	text-align: center;
	font-weight: bold;
	font-family: "Zombie";
	margin-bottom:15px;
	color:#650000;
}

.contentPlayers {
	min-height :730px;
	width:660px;
	border:none;
	margin:5px auto 0 auto;

}

.contentPlayers .col-md-4 {
	margin: 0px;
	margin-bottom: 20px;
}

.playerWindow {
	background: none;
	border:none;
}

.labelPerso {
	font-family:"vicioushunger";
	font-size:24px;

}